PLATFORM_NAME=Meu Garçom

APP_PORT=3000
JWT_SECRET=1121212@kssksksks
JWT_TTL=10080m

FRONTEND_URI=http://localhost:9000

DB_CONNECTION_URI=postgresql://postgres:postgres@localhost:5433/tests

MAIL_SENDER="Plataforma <naoresponda@plataforma.com.br>"
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=587
MAIL_USER=
MAIL_PASS=
MAIL_SECURE=false

# Configurações do AWS S3
# Chave de acesso AWS (obrigatório)
AWS_ID=
# Chave secreta AWS (obrigatório)
AWS_SECRET=
# Região do bucket S3 (obrigatório)
AWS_REGION=us-east-1
# Nome do bucket S3 (obrigatório)
AWS_BUCKET=

#days
AWS_SIGNATURE_TTL=7

ASAAS_URL=https://api-sandbox.asaas.com
ASAAS_APP_NAME=scanity
ASAAS_API_KEY=
ASAAS_WEBHOOK_TOKEN=1234567

RMQ_URI=