PLATFORM_NAME=Scanity

APP_PORT=3001

JWT_SECRET=your_jwt_secret
JWT_TTL=10080m

FRONTEND_URI=http://localhost:9000

DB_CONNECTION_URI=postgresql://usuario:senha@localhost:5432/scanity

MAIL_SENDER="Scanity <naoresponda@scanity.com>"
MAIL_HOST=
MAIL_PORT=587
MAIL_USER=
MAIL_PASS=
MAIL_SECURE=false

# Configurações AWS S3
AWS_ID=
AWS_SECRET=
AWS_REGION=us-east-1
AWS_BUCKET=
AWS_SIGNATURE_TTL=7

# Integração Asaas
ASAAS_URL=https://api-sandbox.asaas.com
ASAAS_APP_NAME=scanity
ASAAS_API_KEY=
ASAAS_WEBHOOK_TOKEN=

# RabbitMQ
RMQ_URI=

# Assistente Virtual
OPENAI_API_KEY=
